@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&family=Zen+Old+Mincho:wght@900&display=swap');
html {
    background-image: url("bg.jpg");
}

body {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
}

blockquote {
    font-family: 'Zen Old Mincho', serif;
    display: inner-flex;
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    color: black;
}

#author {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    right: 25px;
}